// HOME PAGE
.home-page {
  position: relative;
  overflow: hidden;
}
.banner-content {
  width: 100%;
  position: absolute;
  top: 25%;
  z-index: 2;
  overflow-y: hidden;
}
.banner-img {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow-y: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.263);
  }
}
.banner-title {
  width: 50%;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}
.search-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.search-bar {
  max-width: 40%;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  outline: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: Epilogue;
  color: #515151;

  &::placeholder {
    color: #afafaf;
    font-family: Epilogue;
  }
}

// RESULTS PAGE
.recipe-listing {
  min-height: 100vh;
  padding: 50px 0;
}
.recipe-cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 40px;
}
.recipe-card {
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  text-decoration: none !important;

  &:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }

  .top-section {
    height: 176px;
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .card-img-wrapper {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .recipe-title-wrapper {
    // width: 100%;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // position: absolute;
    // z-index: 1;
    // bottom: 10px;
    // color: white;
    // font-weight: 500;
    // font-size: 18px;
  }
  .title-wrapper {
    width: 300px;
    overflow: hidden;
  }
  .recipe-title {
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .recipe-rating {
    padding-right: 10px;
  }
  .bottom-section {
  }
  .ingredient-listing {
    padding: 10px;
  }
}

// RECIPE DETAILS
.recipe-detail-page {
  padding: 50px 0;

  .recipe-banner {
    position: relative;
    display: flex;
    gap: 30px;
    width: 100%;
    margin-bottom: 40px;

    .back-icon {
      position: absolute;
      left: -80px;
      cursor: pointer;
    }

    .recipe-img-wrapper {
      position: relative;
      width: 50%;
      height: 330px;
      border-radius: 12px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .recipe-title {
      width: 90%;
      font-size: 36px;
      font-weight: 800;
      line-height: 1.2;
      color: #171412;
    }
  }

  .right-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .recipe-stats {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #515151;
  }
  .recipe-metadata {
    display: flex;
    gap: 20px;

    .data-item {
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      align-items: center;
      border: 1px solid #e5e0db;
      border-radius: 10px;
    }
    .title {
      font-size: 20px;
      font-weight: 600;
      color: #171412;
    }
    .subtitle {
      font-size: 12px;
      font-weight: 400;
      color: #8a7361;
    }
  }
  .recipe-summary {
    font-size: 15px;
    line-height: 1.5;
    color: #8a7361;
    margin-bottom: 30px;

    a {
      color: #8a7361;
    }
  }
  .ingredients-section,
  .instructions-section {
    color: #171412;
    .section-title {
      margin: 20px 0;
      margin-top: 30px;
      font-size: 18px;
      font-weight: 600;
    }
    .recipe-ingredient,
    .instruction-item {
      margin: 10px 0;
      font-size: 16px;
    }
  }

  .ingredients-section {
    .recipe-ingredient {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .instructions-section {
    .instruction-item {
      margin-bottom: 20px;
      .step {
        font-weight: 500;
      }
      .instruction {
        width: 60%;
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.3;
        color: #8a7361;
      }
    }
  }
}
