body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 75%;
  max-width: 1080px;
  margin: 0 auto;

  @media (max-width: 414px) {
    width: auto;
    margin: 0 20px;
  }
}
